<style>
  /* Slideshow container */
  .slideshow-container {
    /* max-width: 1000px; */
    position: relative;
    margin: auto;
  }

  /* Hide the images by default */
  .kSlides {
    display: none;
  }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    /* margin-top: -22px; */
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    /* right: 0; */
    right: 15px;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    /* background-color: rgba(0, 0, 0, 0.8); */
    background-color: lightgray;
    opacity: var(--pn-opacity);
  }

  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* The dots/bullets/indicators */
  .k-ss-dot {
    cursor: pointer;
    height: 20px;
    width: 20px;
    margin: 0 3px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .k-ss-dot.active,
  .k-ss-dot:hover {
    background-color: #717171;
  }

  /* Fading animation */
  .fade {
    animation-name: fade;
    /* animation-duration: 1.5s; */
  }

  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  /* customize */
  .slideshow-container {
    box-shadow: var(--country-box-shadow);
  }

  .fade {
    animation-duration: 4s;
  }

  .slide-image {
    height: 100%;
  }

  section.fs {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  section.fs article.fs-a {
    background-color: white;
    border-radius: 8px;
  }

  section.fs article.fs-a p {
    color: var(--primary-color);
    padding-top: 15px;
    padding-bottom: 15px;
  }

  section.fs article.fs-a {
    display: none;
  }

  .slideshow-container .s-img-1,
  .slideshow-container .s-img-2,
  .slideshow-container .s-img-3,
  .slideshow-container .s-img-4,
  .slideshow-container .s-img-5,
  .slideshow-container .s-img-6 {
    /* max-width: 100%;
    max-height: 300px; */
    border-radius: 8px;
    height: 100%;
    width: auto;
    overflow: hidden;
    justify-content: center;
  }

  .kSlides.fade .s-img-1 {
    background: url("./img/Kaohsiung/62A6CA4E-D173-F783-C56B-2DAB66F5DE21.jpeg")
      center/cover no-repeat;
  }

  .kSlides.fade .s-img-2 {
    background: url("./img/Kaohsiung/B75440B4-3679-1FA5-F210-FDF769945DA2.jpeg")
      center/cover no-repeat;
  }

  .kSlides.fade .s-img-3 {
    background: url("./img/Kaohsiung/6D5338BF-08AB-A698-DE31-882B43B5397A.jpeg")
      center/cover no-repeat;
  }

  .kSlides.fade .s-img-4 {
    background: url("./img/Kaohsiung/clement-souchet-gTvz-t7D1Aw-unsplash.jpg")
      center/cover no-repeat;
  }

  .kSlides.fade .s-img-5 {
    background: url("./img/Kaohsiung/min-huang-jbO3aF5NvU0-unsplash.jpg")
      center/cover no-repeat;
  }

  .kSlides.fade .s-img-6 {
    background: url("./img/Kaohsiung/roman-matovsky-55gGuvPXEtI-unsplash.jpg")
      center/cover no-repeat;
  }

  .fs .slide-show .slideshow-container {
    background-color: transparent;
    /* width: 100%; */
    /* min-height: 640px; */
    height: 600px;
    max-height: 600px;
    width: auto;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    /* padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px; */
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 8px;
    /* background: url("./img/Kaohsiung/62A6CA4E-D173-F783-C56B-2DAB66F5DE21.jpeg")
      center/cover no-repeat; */
  }
  .fs .slide-show .slideshow-container .slideshow-control {
    background-color: transparent;
    width: 100%;
    position: absolute;
    top: 20px;
    z-index: 2;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
  }

  .ss-c-article {
    width: 80%;
    position: absolute;
    top: 50px;
    z-index: 2;
    margin: 0px auto auto 45px;
    text-align: center;
  }

  .ss-c-article p {
    /* background-color: var(--color-white-opacity); */
    margin: 0px auto;
    color: white;
    font-size: 1.5em;
    border-radius: 8px;
    padding: 15px;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  }

  .kSlide-article {
    /* background-color: var(--color-white-opacity); */
    color: white;
    font-weight: bold;
    /* border: 3px solid #f1f1f1; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 15px;
    text-align: left;
    border-radius: 8px;
  }

  .prev {
    transform: translate(0%, -50%);
  }

  .next {
    transform: translate(20%, -50%);
  }

  .fa-angle-left,
  .fa-angle-right {
    font-size: 48px;
    color: white;
  }

  .fa-angle-left:hover,
  .fa-angle-right:hover {
    font-size: 48px;
    color: rgba(0, 0, 0, 0.9);
  }

  .fa-angle-left,
  .fa-angle-right {
    align-self: center;
  }

  .slide-show {
    margin-bottom: 0px;
    margin-top: 15px;
    background-color: transparent;
  }

  .slideshow-container .fade {
    /* max-width: 100%;
    max-height: 300px; */
    border-radius: 8px;
    height: 100%;
    width: auto;
    overflow: hidden;
    justify-content: center;
  }

  /* keeping */
  .kaohsiung .breadcrumb:nth-child(1) {
    color: var(--secondary-color);
  }
  .content .c-row.first-row {
    padding-right: 15px;
    margin-top: -15px;
  }

  .taiwan-kaohsiung {
    padding-right: 0px;
  }

  /*MC*/
  section.mc {
    margin: 15px 0;
    padding: 15px;
    border-radius: 8px;
    background: var(--food-background);
    box-shadow: var(--other-box-shadow);
  }
  section.mc .mc-a p {
    padding: 0;
    color: var(--primary-color);
    font-weight: bold;
  }

  @media (max-width: 474.98px) {
    #content-wrapper > main > div.content > section.mc > div > iframe {
      height: 380px;
    }
  }

  @media (min-width: 475px) and (max-width: 575.98px) {
    #content-wrapper > main > div.content > section.mc > div > iframe {
      height: 380px;
    }
  }

  @media (min-width: 576px) and (max-width: 767.98px) {
    #content-wrapper > main > div.content > section.mc > div > iframe {
      height: 380px;
    }
  }

  @media (min-width: 768px) and (max-width: 991.98px) {
    #content-wrapper > main > div.content > section.mc > div > iframe {
      height: 450px;
    }
  }

  /* ts */
  section.ts {
    margin: 15px 0;
    padding: 15px;
    border-radius: 8px;
    background: var(--food-background);
    box-shadow: var(--other-box-shadow);
  }
  section.ts .ts-a p {
    padding: 0;
    color: var(--primary-color);
    font-weight: bold;
  }
  section.ts .ts-food {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, auto));
    place-content: space-around;
    place-items: center;
    align-content: space-around;
    align-items: center;
  }

  section.ts .ts-food .ts-f-item {
    display: flex;
    width: 140px;
    height: 140px;
    border: 1px solid var(--food-item-border);
    background-color: transparent;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  section.ts .ts-food .ts-f-item:hover {
    border: 3px solid var(--secondary-color);
  }
  section.ts .ts-food .ts-f-item img:hover {
    transform: scale(1.5);
  }

  /* ss */
  .content .row.c-row.second-row {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .map {
    margin-left: 15px;
  }

  .content .c-row .map {
    background: var(--map-background);
  }

  /* .fs .kSlide-article {
    color: var(--primary-color);
    font-size: 28px;
  } */

  /* .fs .kSlide-article p {
    padding-left: 0px;
    padding-right: 0px;
  } */
  .kSlide-article p {
    padding-left: 0px;
    padding-right: 0px;
    font-size: 1.5em;
  }

  section.map {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .map-a p {
    margin-bottom: 0;
    padding-left: 0px;
    padding-right: 0px;
  }

  .map {
    padding: 15px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: var(--other-box-shadow);
  }

  .map-frame {
    text-align: center;
    overflow: hidden;
  }

  section.map .row {
    display: flex;
    flex-wrap: wrap-reverse;
  }

  @media (max-width: 500px) {
  }

  /* Extra small devices (portrait phones, less than 576px) */
  @media (max-width: 575.98px) {
  }

  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) and (max-width: 767.98px) {
    .map {
      margin-right: 15px;
    }

    .content .row.c-row.third-row {
      padding-right: 30px;
    }

    .content .row.c-row.second-row {
      padding-right: 30px;
    }
  }

  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) and (max-width: 991.98px) {
  }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) and (max-width: 1199.98px) {
  }

  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
  }

  /*photo-frame*/

  .photo-frame {
    padding: 15px;
    background-color: white;
    display: grid;
    grid-template-columns: 2fr, 2fr, 2fr, 2fr, 2fr, 2fr;
    grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
    grid-gap: 1px;
    color: transparent;
    border-radius: 8px;
  }

  @media (min-width: 500px) {
    .photo-frame {
      min-height: 700px;
      width: 100%;
    }
  }

  @media (min-width: 550px) {
    .photo-frame {
      min-height: 850px;
      width: 100%;
    }
  }

  @media (min-width: 600px) {
    .photo-frame {
      min-height: 1000px;
      width: 100%;
    }
  }

  @media (min-width: 650px) {
    .photo-frame {
      min-height: 1150px;
      width: 100%;
    }
  }

  @media (min-width: 700px) {
    .photo-frame {
      min-height: 1300px;
      width: 100%;
    }
  }

  @media (min-width: 750px) {
    .photo-frame {
      min-height: 1350px;
      width: 100%;
    }
  }

  @media (min-width: 800px) {
    .photo-frame {
      min-height: 1400px;
      width: 100%;
    }
  }

  @media (min-width: 850px) {
    .photo-frame {
      min-height: 1450px;
      width: 100%;
    }
  }

  @media (min-width: 900px) {
    .photo-frame {
      min-height: 1450px;
      width: 100%;
    }
  }

  @media (min-width: 950px) {
    .photo-frame {
      min-height: 1550px;
      width: 100%;
    }
  }

  @media (min-width: 1000px) {
    .photo-frame {
      min-height: 1600px;
      width: 100%;
    }
  }

  @media (min-width: 1100px) {
    .photo-frame {
      min-height: 1650px;
      width: 100%;
    }
  }

  @media (min-width: 1200px) {
    .photo-frame {
      min-height: 1700px;
      width: 100%;
    }
  }

  .photo {
    background-color: lightgray;
    text-align: center;
    border: 0px solid transparent;
  }

  .photo:hover {
    border: 3px solid var(--secondary-color);
  }

  .photo-1 {
    background: url("./img/kaohsiung/album/19E00279-2B65-8A95-D2A5-B0A2D4A3806E.jpeg")
      center/cover no-repeat;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .photo-3 {
    background: url("./img/kaohsiung/album/zion-c-sGblr5yVXiM-unsplash.jpg")
      center/cover no-repeat;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .photo-5 {
    background: url("./img/kaohsiung/album/y-k-UDv1n0xIpU8-unsplash.jpg")
      center/cover no-repeat;
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 6;
  }

  .photo-7 {
    background: url("./img/kaohsiung/album/eagan-hsu-RtjS_oF_amA-unsplash.jpg")
      center/cover no-repeat;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 11;
  }

  .photo-9 {
    background: url("./img/kaohsiung/album/roman-matovsky-55gGuvPXEtI-unsplash.jpg")
      center/cover no-repeat;
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 11;
  }

  .photo-11 {
    background: url("./img/kaohsiung/album/poh-soo-donald-soh-HSe0NIPzLBs-unsplash.jpg")
      center/cover no-repeat;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
  }

  .photo-13 {
    background: url("./img/kaohsiung/album/maggie-hung-PGIiTv4LL9o-unsplash.jpg")
      center/cover no-repeat;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 11;
    grid-row-end: 15;
  }

  .photo-15 {
    background: url("./img/kaohsiung/album/joel-fulgencio-FouVQ5dYY6g-unsplash.jpg")
      center/cover no-repeat;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 11;
    grid-row-end: 15;
  }
</style>
<!-- breadcrumb -->
<div class="row">
  <div class="col-md-12 kaohsiung">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"></a></li>
        <li class="breadcrumb-item active" aria-current="page"></li>
      </ol>
    </nav>
  </div>
</div>
<!-- /.breadcrumb -->
<!-- content -->
<div class="content">
  <h1></h1>
  <section class="photo-frame" id="kaohsiung-album">
    <div class="photo photo-1">1</div>
    <!-- <div class="photo photo-2">2</div> -->
    <div class="photo photo-3">3</div>
    <!-- <div class="photo photo-4">4</div> -->
    <div class="photo photo-5">5</div>
    <!-- <div class="photo photo-6">6</div> -->
    <div class="photo photo-7">7</div>
    <!-- <div class="photo photo-8">8</div> -->
    <div class="photo photo-9">9</div>
    <!-- <div class="photo photo-10">10</div> -->
    <div class="photo photo-11">11</div>
    <!-- <div class="photo photo-12">12</div> -->
    <div class="photo photo-13">13</div>
    <!-- <div class="photo photo-14">14</div> -->
    <div class="photo photo-15">15</div>
    <!-- <div class="photo photo-16">16</div> -->
    <!-- <div class="photo photo-17">17</div> -->
    <!-- <div class="photo photo-18">18</div> -->
    <!-- <div class="photo photo-19">19</div> -->
    <!-- <div class="photo photo-20">20</div> -->
    <!-- <div class="photo photo-21">21</div> -->
    <!-- <div class="photo photo-22">22</div> -->
    <!-- <div class="photo photo-23">23</div> -->

    <!-- 
    <div class="photo photo-24">24</div>
    <div class="photo photo-25">25</div>
    <div class="photo photo-26">26</div>
    <div class="photo photo-27">27</div>
    <div class="photo photo-28">28</div>
    <div class="photo photo-29">29</div>
    <div class="photo photo-30">30</div>
    <div class="photo photo-31">31</div>
    <div class="photo photo-32">32</div> -->
  </section>

  <section class="mc">
    <article class="mc-a">
      <p></p>
    </article>
    <div class="media">
      <iframe
        width="100%"
        height="600px"
        src="https://www.youtube.com/embed/ltvste1Yt4Y?rel=0&modestbranding=1"
        title="【台灣旅遊】快閃3天2夜高雄旅行 💕// 駁二藝術特區、「打卡」大港倉8 史努比 &amp; 旗津一日遊看日落｜高雄神諭咖啡好棒！～ Kaohsiung Travel Vlog"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
  </section>

  <div class="row c-row first-row">
    <div class="col-md-12 taiwan-kaohsiung">
      <section class="fs">
        <article class="fs-a">
          <p>
            <strong>???</strong>
          </p>
        </article>
        <div class="slide-show">
          <div class="slideshow-container">
            <div
              class="slideshow-control"
              style="text-align: center"
              id="k-ss-dots"
            >
              <span class="k-ss-dot" data-current-slide="1"></span>
              <span class="k-ss-dot" data-current-slide="2"></span>
              <span class="k-ss-dot" data-current-slide="3"></span>
              <span class="k-ss-dot" data-current-slide="4"></span>
              <span class="k-ss-dot" data-current-slide="5"></span>
              <span class="k-ss-dot" data-current-slide="6"></span>
            </div>
            <article class="ss-c-article">
              <p>
                <strong></strong>
              </p>
            </article>
            <!-- Full-width images with number and caption text -->
            <div class="kSlides fade">
              <article class="kSlide-article">
                <!-- <p>
                  <strong
                    >Taiwanese people are generally friendly and hospitable,
                    always willing to help travelers.</strong
                  >
                </p> -->
              </article>
              <div class="numbertext">1 / 6</div>
              <div class="slide-image s-img-1"></div>
              <!-- <img
                src="./img/Kaohsiung/62A6CA4E-D173-F783-C56B-2DAB66F5DE21.jpeg"
                style="width: 100%"
              /> -->
              <div class="caption-text"></div>
            </div>
            <div class="kSlides fade">
              <article class="kSlide-article">
                <!-- <p>
                  <strong
                    >This warmth and friendliness make travelers feel at
                    home.</strong
                  >
                </p> -->
              </article>
              <div class="numbertext">2 / 6</div>
              <div class="slide-image s-img-2"></div>
              <!-- <img
                src="./img/Kaohsiung/B75440B4-3679-1FA5-F210-FDF769945DA2.jpeg"
                style="width: 100%"
              /> -->
              <div class="caption-text"></div>
            </div>
            <div class="kSlides fade">
              <article class="kSlide-article">
                <!-- <p>
                  <strong
                    >The integration of culture and history, modernity and
                    tradition.</strong
                  >
                </p> -->
              </article>
              <div class="numbertext">3 / 6</div>
              <div class="slide-image s-img-3"></div>
              <!-- <img
                src="./img/Kaohsiung/6D5338BF-08AB-A698-DE31-882B43B5397A.jpeg"
                style="width: 100%"
              /> -->
              <div class="caption-text"></div>
            </div>

            <div class="kSlides fade">
              <article class="kSlide-article">
                <!-- <p>
                  <strong
                    >Taiwanese people are generally friendly and hospitable,
                    always willing to help travelers.</strong
                  >
                </p> -->
              </article>
              <div class="numbertext">4 / 6</div>
              <div class="slide-image s-img-4"></div>
              <!-- <img
                src="./img/Kaohsiung/clement-souchet-gTvz-t7D1Aw-unsplash.jpg"
                style="width: 100%"
              /> -->
              <div class="caption-text"></div>
            </div>

            <div class="kSlides fade">
              <article class="kSlide-article">
                <!-- <p>
                  <strong
                    >This warmth and friendliness make travelers feel at
                    home.</strong
                  >
                </p> -->
              </article>
              <div class="numbertext">5 / 6</div>
              <div class="slide-image s-img-5"></div>
              <!-- <img
                src="./img/Kaohsiung/min-huang-jbO3aF5NvU0-unsplash.jpg"
                style="width: 100%"
              /> -->
              <div class="caption-text"></div>
            </div>

            <div class="kSlides fade">
              <article class="kSlide-article">
                <!-- <p>
                  <strong
                    >The integration of culture and history, modernity and
                    tradition.</strong
                  >
                </p> -->
              </article>
              <div class="numbertext">6 / 6</div>
              <div class="slide-image s-img-6"></div>
              <!-- <img
                src="./img/Kaohsiung/roman-matovsky-55gGuvPXEtI-unsplash.jpg"
                style="width: 100%"
              /> -->
              <div class="caption-text"></div>
            </div>

            <!-- Next and previous buttons -->
            <a class="prev" onclick="kPlusSlides(-1)"
              ><i class="fa-solid fa-angle-left fa-2xl"></i>
            </a>
            <a class="next" onclick="kPlusSlides(1)"
              ><i class="fa-solid fa-angle-right fa-2xl"></i>
            </a>
          </div>
          <!-- <br> -->
          <!-- The dots/circles -->
          <!-- <div class="slideshow-control" style="text-align: center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
          </div> -->
        </div>
      </section>
    </div>
  </div>
  <section class="ts">
    <article class="ts-a">
      <p></p>
    </article>
    <!-- food flex-container -->
    <div class="ts-food">
      <div class="ts-f-item">
        <img
          src="./img/kaohsiung/food/food1.jpg"
          alt="food item"
          width="100%"
          height="auto"
        />
      </div>
      <div class="ts-f-item">
        <img
          src="./img/kaohsiung/food/food2.jpg"
          alt="food item"
          height="100%"
          width="auto"
        />
      </div>
      <div class="ts-f-item">
        <img
          src="./img/kaohsiung/food/food3.jpg"
          alt="food item"
          width="auto"
          height="100%"
        />
      </div>
      <div class="ts-f-item">
        <img
          src="./img/kaohsiung/food/food4.jpg"
          alt="food item"
          width="auto"
          height="100%"
        />
      </div>
      <div class="ts-f-item">
        <img
          src="./img/kaohsiung/food/food5.jpg"
          alt="food item"
          width="auto"
          height="100%"
        />
      </div>
      <div class="ts-f-item">
        <img
          src="./img/kaohsiung/food/blog_Kaohsiung-Night-Market_img_25.jpg"
          alt="food item"
          width="100%"
          height="auto"
        />
      </div>
      <div class="ts-f-item">
        <img
          src="./img/kaohsiung/food/blog_Kaohsiung-Night-Market_img_24.jpg"
          alt="food item"
          width="auto"
          height="100%"
        />
      </div>
      <div class="ts-f-item">
        <img
          src="./img/kaohsiung/food/blog_Kaohsiung-Night-Market_img_23.jpg"
          alt="food item"
          width="auto"
          height="100%"
        />
      </div>
      <div class="ts-f-item">
        <img
          src="./img/kaohsiung/food/A73E5631-0C4B-F180-F1C6-84D1AC21E5C5.jpeg"
          alt="food item"
          width="auto"
          height="100%"
        />
      </div>
    </div>
    <!-- /. food flex-container -->
  </section>

  <div class="row c-row second-row">
    <section class="map col-sm-12">
      <div class="row">
        <div class="map-a col-sm-12 col-md-12 col-lg-6">
          <p></p>
          <p></p>
          <p></p>
          <p></p>
        </div>
        <div class="map-frame col-sm-12 col-md-12 col-lg-6">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d235763.67799044284!2d120.15460263461463!3d22.585817568432464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x346e04fd209f4835%3A0x54511e7d86c87c09!2z5Y-w54Gj6auY6ZuE5biC6byT5bGx5Y2A6auY6ZuE!5e0!3m2!1szh-TW!2shk!4v1739719359624!5m2!1szh-TW!2shk"
            width="100%"
            height="600px"
            style="border: 0"
            allowfullscreen=""
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </section>
  </div>
  <br /><br />
</div>
<!-- /.content -->
