<style>
  /* keeping */
  .singapore .breadcrumb:nth-child(1) {
    color: var(--secondary-color);
  }

  .singapore-singapore {
    padding-right: 0px;
  }

  .content {
    margin: 0;
    padding: 0;
  }

  /* fs */
  .singapore-singapore {
    margin-top: 0;
    padding: 15px;
    border-radius: 8px;
    background-color: white;
  }
  .singapore-singapore article p {
    padding: 0;
    color: var(--primary-color);
  }
  .image-gallery {
    display: flex;
    background: url("./img/singapore/graden-by-the-bay-(19).jpg") center/cover
      no-repeat;
    flex-flow: wrap;
    align-items: start;
    height: 450px;
  }
  .gallery {
    align-self: self-start;
    margin: 5px;
    border: 1px solid #ccc;
    width: 180px;
    height: 205px;
    overflow: hidden;
    background-color: white;
  }
  .gallery:hover {
    border: 3px solid var(--secondary-color);
  }

  .gallery .image {
    display: inline-block;
    height: 140px;
    width: 100%;
    overflow: hidden;
  }

  .gallery .image img {
    height: 100%;
    width: auto;
  }
  .gallery .desc {
    padding: 5px;
    text-align: center;
    background-color: white;
    height: 100%;
    margin-top: -8px;
  }

  /*combination*/
  section.combination {
    margin: 15px 0;
    padding: 15px;
    border-radius: 8px;
    background: var(--food-background);
    box-shadow: var(--other-box-shadow);
  }
  section.combination .combination-a p {
    padding: 0;
    color: var(--primary-color);
    font-weight: bold;
  }

  @media (max-width: 474.98px) {
    #content-wrapper > main > div.content > section.combination > div > iframe {
      height: 3800px;
    }
  }

  @media (min-width: 475px) and (max-width: 575.98px) {
    #content-wrapper > main > div.content > section.combination > div > iframe {
      height: 300px;
    }
  }

  @media (min-width: 576px) and (max-width: 669.98px) {
    #content-wrapper > main > div.content > section.combination > div > iframe {
      height: 310px;
    }
  }

  @media (min-width: 670px) and (max-width: 767.98px) {
    #content-wrapper > main > div.content > section.combination > div > iframe {
      height: 350px;
    }
  }

  @media (min-width: 768px) and (max-width: 879.4px) {
    #content-wrapper > main > div.content > section.combination > div > iframe {
      height: 400px;
    }
  }

  @media (min-width: 879.5px) and (max-width: 991.98px) {
    #content-wrapper > main > div.content > section.combination > div > iframe {
      height: 450px;
    }
  }

  @media (min-width: 992px) and (max-width: 1094.98px) {
    #content-wrapper > main > div.content > section.combination > div > iframe {
      height: 500px;
    }
  }

  @media (min-width: 1095px) and (max-width: 1199.98px) {
    #content-wrapper > main > div.content > section.combination > div > iframe {
      height: 550px;
    }
  }

  /* ts */
  section.ts {
    margin: 15px 0;
    padding: 15px;
    border-radius: 8px;
    background: var(--food-background);
    box-shadow: var(--other-box-shadow);
  }
  section.ts .ts-a p {
    padding: 0;
    color: var(--primary-color);
    font-weight: bold;
  }
  section.ts .ts-food {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, auto));
    place-content: space-around;
    place-items: center;
    align-content: space-around;
    align-items: center;
  }

  section.ts .ts-food .ts-f-item {
    display: flex;
    width: 145px;
    height: 145px;
    border: 1px solid var(--food-item-border);
    background-color: transparent;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  section.ts .ts-food .ts-f-item:hover {
    border: 3px solid var(--secondary-color);
  }
  section.ts .ts-food .ts-f-item img:hover {
    transform: scale(1.5);
  }

  /* ss */
  .content .row.c-row.second-row {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .map {
    margin-left: 15px;
  }

  .content .c-row .map {
    background-color: var(--map-background);
  }

  section.map {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .map-a p {
    margin-bottom: 0;
    padding-left: 0px;
    padding-right: 0px;
  }

  .map {
    padding: 15px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: var(--other-box-shadow);
  }

  .map-frame {
    text-align: center;
    overflow: hidden;
  }

  section.map .row {
    display: flex;
    flex-wrap: wrap-reverse;
  }

  @media (max-width: 500px) {
  }

  /* Extra small devices (portrait phones, less than 576px) */
  @media (min-width: 500.1) and (max-width: 575.98px) {
  }

  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) and (max-width: 767.98px) {
    .map {
      margin-right: 15px;
    }

    .content .row.c-row.second-row {
      padding-right: 30px;
    }
  }

  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) and (max-width: 991.98px) {
    .image-gallery {
      max-height: 500px;
    }
  }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) and (max-width: 1199.98px) {
    .image-gallery {
      max-height: 500px;
    }
  }

  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    .image-gallery {
      max-height: 500px;
    }
  }

  /*photo-frame*/

  .photo-frame {
    padding: 15px;
    background-color: white;
    display: grid;
    grid-template-columns: 2fr, 2fr, 2fr, 2fr, 2fr, 2fr;
    grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
    grid-gap: 1px;
    color: transparent;
    border-radius: 8px;
  }

  @media (min-width: 500px) {
    .photo-frame {
      min-height: 800px;
      width: 100%;
    }
  }

  @media (min-width: 550px) {
    .photo-frame {
      min-height: 950px;
      width: 100%;
    }
  }

  @media (min-width: 600px) {
    .photo-frame {
      min-height: 1100px;
      width: 100%;
    }
  }

  @media (min-width: 650px) {
    .photo-frame {
      min-height: 1250px;
      width: 100%;
    }
  }

  @media (min-width: 699.98px) {
    .photo-frame {
      min-height: 1400px;
      width: 100%;
    }
  }

  @media (min-width: 750px) {
    .photo-frame {
      min-height: 1550px;
      width: 100%;
    }
  }

  @media (min-width: 820px) {
    .photo-frame {
      min-height: 1700px;
      width: 100%;
    }
  }

  @media (min-width: 1100px) {
    .photo-frame {
      min-height: 1850px;
      width: 100%;
    }
  }

  @media (min-width: 1200px) {
    .photo-frame {
      min-height: 2000px;
      width: 100%;
    }
  }

  .photo {
    background-color: lightgray;
    text-align: center;
    border: 0px solid white;
  }

  .photo:hover {
    border: 3px solid var(--secondary-color);
  }

  .photo-1 {
    background: url("./img/singapore/album/will-truettner-7ZZ_FmVelQY-unsplash.jpg")
      center/cover no-repeat;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .photo-3 {
    background: url("./img/singapore/album/20190519162034_98.jpg") center/cover
      no-repeat;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .photo-5 {
    background: url("./img/singapore/album/graden-by-the-bay_26.jpg")
      center/cover no-repeat;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .photo-7 {
    background: url("./img/singapore/album/ilham-wicaksono-ML2q8zCfUik-unsplash.jpg")
      center/cover no-repeat;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
  }

  .photo-9 {
    background: url("./img/singapore/album/bna-ignacio-C8gvt2LMX94-unsplash.jpg")
      center/cover no-repeat;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .photo-11 {
    background: url("./img/singapore/album/20190519162050_100.jpg") center/cover
      no-repeat;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .photo-13 {
    background: url("./img/singapore/album/jonathan-lim-8P97FDe4v2s-unsplash.jpg")
      center/cover no-repeat;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
  }

  .photo-15 {
    background: url("./img/singapore/album/20190519162031_3.jpg") center/cover
      no-repeat;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .photo-17 {
    background: url("./img/singapore/album/lily-banse-Rl6Xep37xS0-unsplash.jpg")
      center/cover no-repeat;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 8;
  }

  .photo-19 {
    background: url("./img/singapore/album/yu-kato-eQ9ygNxbNAA-unsplash.jpg")
      center/cover no-repeat;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 8;
  }

  .photo-21 {
    background: url("./img/singapore/album/tan-kaninthanond-RFumqN-7zI0-unsplash.jpg")
      center/cover no-repeat;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 6;
  }

  .photo-23 {
    background: url("./img/singapore/album/teodor-kuduschiev-OtCCXVCZHIs-unsplash.jpg")
      center/cover no-repeat;
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 6;
    grid-row-end: 8;
  }
</style>
<!-- breadcrumb -->
<div class="row">
  <div class="col-md-12 singapore">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">SINGAPORE</a></li>
        <li class="breadcrumb-item active" aria-current="page">Singapore</li>
      </ol>
    </nav>
  </div>
</div>
<!-- /.breadcrumb -->
<!-- content -->
<div class="content">
  <h1>Singapore</h1>
  <section class="photo-frame" id="singapore-album">
    <div class="photo photo-1">1</div>
    <!-- <div class="photo photo-2">2</div> -->
    <div class="photo photo-3">3</div>
    <!-- <div class="photo photo-4">4</div> -->
    <div class="photo photo-5">5</div>
    <!-- <div class="photo photo-6">6</div> -->
    <div class="photo photo-7">7</div>
    <!-- <div class="photo photo-8">8</div> -->
    <div class="photo photo-9">9</div>
    <!-- <div class="photo photo-10">10</div> -->
    <div class="photo photo-11">11</div>
    <!-- <div class="photo photo-12">12</div> -->
    <div class="photo photo-13">13</div>
    <!-- <div class="photo photo-14">14</div> -->
    <div class="photo photo-15">15</div>
    <!-- <div class="photo photo-16">16</div> -->
    <div class="photo photo-17">17</div>
    <!-- <div class="photo photo-18">18</div> -->
    <div class="photo photo-19">19</div>
    <!-- <div class="photo photo-20">20</div> -->
    <div class="photo photo-21">21</div>
    <!-- <div class="photo photo-22">22</div> -->
    <div class="photo photo-23">23</div>

    <!-- 
    <div class="photo photo-24">24</div>
    <div class="photo photo-25">25</div>
    <div class="photo photo-26">26</div>
    <div class="photo photo-27">27</div>
    <div class="photo photo-28">28</div>
    <div class="photo photo-29">29</div>
    <div class="photo photo-30">30</div>
    <div class="photo photo-31">31</div>
    <div class="photo photo-32">32</div> -->
  </section>

  <section class="combination">
    <article class="combination-a">
      <p>
        SINGAPORE boasts a modern urban landscape, including Marina Bay Sands,
        the Singapore Flyer, and Gardens by the Bay. At the same time, it has
        beautiful natural scenery such as Sentosa, the Zoo, and the Botanic
        Gardens. Travelers can enjoy the tranquility of nature amid the bustling
        city.
      </p>
    </article>
    <div class="media">
      <iframe
        width="100%"
        height="600px"
        src="https://www.youtube.com/embed/HcdDpWC3xIE?rel=0&modestbranding=1"
        title="新加坡自由行攻略🇸🇬5天4夜怎麼玩？在地人推薦必吃美食！亞坤咖椰吐司/松發肉骨茶/天天海南雞飯/道地印度烤餅/海鮮叻沙麵/麥士威熟食中心｜Singapore Vlog EP.01｜ R榮"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
  </section>

  <section class="singapore-singapore">
    <article>
      <p>
        <strong
          >SINGAPORE is renowned for its clean and orderly urban environment.
          The streets are tidy, and public facilities are well-maintained,
          making people feel comfortable and happy.</strong
        >
      </p>
    </article>
    <div class="image-gallery">
      <div class="gallery">
        <a
          class="image"
          href="./img/singapore/20190519162141_63.jpg"
          target="_blank"
        >
          <img
            src="./img/singapore/20190519162141_63.jpg"
            alt=""
            title="Sri Mariamman Temple"
          />
        </a>
        <div class="desc">Sri Mariamman Temple</div>
      </div>
      <div class="gallery">
        <a
          class="image"
          href="./img/singapore/20190519161946_8.jpg"
          target="_blank"
        >
          <img
            src="./img/singapore/20190519161946_8.jpg"
            alt=""
            title="Chinatown"
          />
        </a>
        <div class="desc">Chinatown</div>
      </div>
      <div class="gallery">
        <a
          class="image"
          href="./img/singapore/singapore (2).jpg"
          target="_blank"
        >
          <img
            src="./img/singapore/singapore (2).jpg"
            alt=""
            title="Buddha Tooth Relic Temple and Museum"
          />
        </a>
        <div class="desc">Buddha Tooth Relic Temple and Museum</div>
      </div>
      <div class="gallery">
        <a
          class="image"
          href="./img/singapore/graden-by-the-bay-in.jpg"
          target="_blank"
        >
          <img
            src="./img/singapore/graden-by-the-bay-in.jpg"
            alt=""
            title="Supertree Grove"
          />
        </a>
        <div class="desc">Supertree Grove</div>
      </div>
    </div>
  </section>

  <section class="ts">
    <article class="ts-a">
      <p>
        SINGAPORE is renowned for its diverse cuisine, featuring dishes such as
        Hainanese chicken rice, chili crab, satay, and roti prata that make
        one's mouth water. Travelers can enjoy authentic local food at hawker
        centers, restaurants, and street stalls.
      </p>
    </article>
    <!-- food flex-container -->
    <div class="ts-food">
      <div class="ts-f-item">
        <img
          src="./img/singapore/food/1mj2d12000bc7ooplD178_Z_640_10000_R5.png"
          alt="food item"
          width="auto"
          height="100%"
        />
      </div>
      <div class="ts-f-item">
        <img
          src="./img/singapore/food/1mj3c12000bcszhc3C345_Z_640_10000_R5.png"
          alt="food item"
          width="auto"
          height="100%"
        />
      </div>
      <div class="ts-f-item">
        <img
          src="./img/singapore/food/1mj3e12000bc7p0e151AD_Z_640_10000_R5.png"
          alt="food item"
          width="auto"
          height="100%"
        />
      </div>
      <div class="ts-f-item">
        <img
          src="./img/singapore/food/1mj3h12000bc7pednD20B_Z_640_10000_R5.png"
          alt="food item"
          width="auto"
          height="100%"
        />
      </div>
      <div class="ts-f-item">
        <img
          src="./img/singapore/food/1mj3912000gs92ksgDCDF_Z_640_10000_R5.png"
          alt="food item"
          width="100%"
          height="auto"
        />
      </div>
      <div class="ts-f-item">
        <img
          src="./img/singapore/food/230412-27549-2-bsF1O.jpg"
          alt="food item"
          width="auto"
          height="100%"
        />
      </div>
      <div class="ts-f-item">
        <img
          src="./img/singapore/food/asian-dish-food-produce.png"
          alt="food item"
          width="auto"
          height="100%"
        />
      </div>
      <div class="ts-f-item">
        <img
          src="./img/singapore/food/dish-food-produce-cuisine.png"
          alt="food item"
          width="auto"
          height="100%"
        />
      </div>
      <div class="ts-f-item">
        <img
          src="./img/singapore/food/p3295281a588309774-ss.png"
          alt="food item"
          width="auto"
          height="100%"
        />
      </div>
    </div>
    <!-- /. food flex-container -->
  </section>

  <div class="row c-row second-row">
    <section class="map col-sm-12">
      <div class="row">
        <div class="map-a col-sm-12 col-md-12 col-lg-6">
          <p>
            Singapore is a small yet highly modern and vibrant city-state
            located at the southern tip of the Malay Peninsula in Southeast
            Asia, facing the Johor Strait and the South China Sea. Despite its
            limited area, Singapore is renowned for its exemplary urban planning
            and advanced infrastructure, creating a unique, multicultural
            cityscape where Eastern and Western influences converge and
            tradition coexists with modernity—from luxurious skyscrapers to
            charming historic districts.
          </p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
          <p></p>
        </div>
        <div class="map-frame col-sm-12 col-md-12 col-lg-6">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d255278.11535341563!2d103.65923135829672!3d1.3440836592444263!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31da1767b42b8ec9%3A0x400f7acaedaa420!2z5paw5Yqg5Z2h!5e0!3m2!1szh-TW!2shk!4v1739664946901!5m2!1szh-TW!2shk"
            width="100%"
            height="600px"
            style="border: 0"
            allowfullscreen=""
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </section>
  </div>
  <br /><br />
</div>
